<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email-list</title>
</head>

<body>

    <div id="app">
        <h1>Lista Email:</h1>
        <ul>
            <li v-if="listEmail.length < numEmail">
                Lista in elaborazione, attendere
            </li>
            <li v-else v-for="email in listEmail">
                {{email}}
            </li>
        </ul>
    </div>


    <!-- AXIOS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"
        integrity="sha512-nnNHpffPSgINrsR8ZAIgFUIMexORL5tPwsfktOTxVYSv+AUAILuFYWES8IHl+hhIhpFGlKvWFiz9ZEusrPcSBQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Vue.js CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- JS -->
    <script src="./assets/js/main.js"></script>
</body>

</html>